.header {
    color: #17ff0f;
    font-size: 3rem;
    text-align: center;
  }

  :host {
    display: block;
    background-color: rgba(50, 99, 59, 0.537);
    height: 200vh; /* Make it cover the full viewport height */
    margin: 0;
    padding: 0;
  }


  .card1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
  }

